:root {
    --primary-color: #ffffff;
    --accent-color: #ffd700;
    --bg-color: #0d1b2a;
    --form-bg-color: #243b55;
    --button-color: #00bfff;
    --text-light: #d3d3d3;
    --text-dark: #000000;

    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    --heading-font: "Space Mono", monospace;
    --body-font: "Poppins", var(--default-font-family);
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

.main-container {
    position: relative;
    max-width: 1440px;
    width: 1440px;
    height: 4034px;
    margin: 0 auto;
    background-color: #0D1B2A;
    overflow: hidden;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1208px;
    height: 36px;
    margin: 56px 0 0 100px;
    z-index: 134;
}

.logo {
    flex-shrink: 0;
    position: relative;
    height: 36px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 35.544px;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
}

.frame {
    flex-shrink: 0;
    position: relative;
    width: 632px;
    height: 33px;
    z-index: 134;
    overflow: hidden;
}

/* Navbar */
.home {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: -3px;
    left: 9px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 35.544px;
    text-align: left;
    white-space: nowrap;
    z-index: 136;
    text-decoration: none;
}

.about {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: -3px;
    left: 133px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 35.544px;
    text-align: left;
    white-space: nowrap;
    z-index: 137;
    text-decoration: none;
}

.services {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: -3px;
    left: 232px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 35.544px;
    text-align: left;
    white-space: nowrap;
    z-index: 138;
    text-decoration: none;
}

.portfolio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: -3px;
    left: 370px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 35.544px;
    text-align: left;
    white-space: nowrap;
    z-index: 139;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: -3px;
    left: 523px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 35.544px;
    text-align: left;
    white-space: nowrap;
    z-index: 135;
    text-decoration: none;
}

/* Home */
.flex-row-c {
    position: relative;
    width: 1223px;
    height: 517px;
    margin: 58px 0 0 96px;
    z-index: 143;
}

.profil-image {
    position: absolute;
    width: 349px;
    height: 463px;
    top: 0;
    left: 874px;
    background: url(../img/profil.png) no-repeat center;
    background-size: cover;
    z-index: 143;
}

.hello-world {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 48px;
    top: 106px;
    left: 0;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
}

.name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 72px;
    top: 136px;
    left: 2px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
}

.student {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 48px;
    top: 219px;
    left: 2px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}

.student-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 48px;
    top: 219px;
    left: 191px;
    color: #00bfff;
    font-family: Poppins,
        var(--default-font-family);
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}

.looking-for {
    position: absolute;
    width: 856px;
    height: 144px;
    top: 280px;
    left: 50%;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    background: no-repeat center;
    background-size: cover;
    transform: translate(-71.2%, 0);
    z-index: 5;
    color: #ffffff;
    margin-bottom: 20px;
}

.looking-for p {
    margin: 0;
    padding: 0;
}

.break {
    display: inline-block;
    text-indent: 60px;
}

.looking-for .indented {
    margin-left: 5px;
}

.frame-3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: absolute;
    width: 288px;
    height: 83px;
    top: 434px;
    left: 15px;
    z-index: 129;
    overflow: hidden;
}

/* Icon */
.vector-4 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    color: #ffffff;
    background-size: cover;
    transform: translate(-337.5%, -41.25%);
    z-index: 131;
}

.vector-5 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    color: #ffffff;
    background-size: cover;
    transform: translate(-157.5%, -41.25%);
    z-index: 132;
}

.vector-6 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    color: #ffffff;
    background-size: cover;
    transform: translate(25%, -41.25%);
    z-index: 133;
}

.vector-7 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    color: #ffffff;
    background-size: cover;
    transform: translate(217.5%, -41.25%);
    z-index: 130;
}

.frame-7 {
    position: relative;
    width: 299px;
    height: 84px;
    margin: -2px 0 0 100px;
    z-index: 140;
    overflow: hidden;
}

.rectangle {
    position: absolute;
    width: 259px;
    height: 60px;
    top: 14px;
    left: 16px;
    background: #00bfff;
    z-index: 141;
    border-radius: 20px;
}

.contact-me {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 26px;
    left: 70px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 142;
    text-decoration: none;
}

/* About */

.about-section {
    position: relative;
    width: 1440px;
    height: 745px;
    margin: 103px 0 0 0;
    background-color: #243B55;
    z-index: 6;
    overflow: hidden;
}

.profil-image-8 {
    position: absolute;
    width: 349px;
    height: 463px;
    top: 94px;
    left: 183px;
    background: url(../img/profil.png) no-repeat center;
    background-size: cover;
    z-index: 145;
}

.flex-column-a {
    position: absolute;
    height: 450px;
    top: 103px;
    right: 32px;
    left: 693px;
    z-index: 10;
}

.about-me {
    position: relative;
    width: 221px;
    height: 67px;
    margin: 0 0 0 9px;
    font-family: Poppins, var(--default-font-family);
    font-size: 45px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 7;
}

.about-9 {
    position: relative;
    color: #ffd700;
    font-family: Space Mono, var(--default-font-family);
    font-size: 45px;
    line-height: 67.5px;
    font-weight: 700;
    text-align: left;
}

.nbsp {
    position: relative;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 45px;
    line-height: 67.5px;
    font-weight: 700;
    text-align: left;
}

.me {
    position: relative;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 45px;
    line-height: 67.5px;
    font-weight: 700;
    text-align: left;
}

.student-a {
    display: block;
    position: relative;
    height: 36px;
    margin: 1px 0 0 9px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}

.passionate {
    position: relative;
    width: 706px;
    height: 192px;
    margin: 24px 0 0 9px;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    background: no-repeat center;
    background: cover;
    color: #ffffff;
    z-index: 8;
}

.frame-b {
    position: relative;
    width: 183px;
    height: 70px;
    margin: 60px 0 0 0;
    z-index: 10;
    overflow: hidden;
}

.rectangle-c {
    position: absolute;
    width: 163px;
    height: 60px;
    top: 5px;
    left: 9px;
    background: #00bfff;
    z-index: 11;
    border-radius: 20px;
}

.see-more {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 17px;
    left: 35px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
    text-decoration: none;
}

/* Services */
.services-section {
    position: relative;
    width: 1440px;
    height: 745px;
    margin: 0;
    background: #0D1B2A;
    z-index: 13;
    overflow: hidden;
}

.flex-column-edf {
    position: relative;
    width: 1138px;
    height: 659px;
    margin: 61px 0 0 151px;
    z-index: 83;
    overflow: visible auto;
    /* align-items: center;
    text-align: center; */
}

.our-services {
    position: relative;
    width: 342.353px;
    height: 80px;
    margin: 0 0 0 398px;
    font-family: Poppins, var(--default-font-family);
    font-size: 45px;
    font-weight: 700;
    line-height: 67.5px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 14;
}

.our-services-d {
    position: relative;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 45px;
    font-weight: 700;
    line-height: 67.5px;
    text-align: left;
}

.services-e {
    position: relative;
    color: #ffd700;
    font-family: Space Mono, var(--default-font-family);
    font-size: 45px;
    font-weight: 700;
    line-height: 67.5px;
    text-align: left;
}

.skill {
    display: block;
    position: relative;
    height: 30px;
    margin: 0 0 0 548px;
    color: #00bfff;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
}

.my-abilities {
    display: block;
    position: relative;
    height: 24px;
    margin: 0 0 0 523px;
    color: #d3d3d3;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
}

/* Skill */
.frame-1b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    position: absolute;
    width: 852px;
    height: 198px;
    top: 160px;
    left: 50%;
    padding: 10px 16px 10px 16px;
    transform: translate(-50%, 0);
    z-index: 17;
    overflow: hidden;
}

.rectangle-1c {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 178px;
    background: #F8F9FA;
    z-index: 18;
    border-radius: 15px;
}

.vector-1d {
    flex-shrink: 0;
    position: absolute;
    height: 12px;
    top: 50px;
    right: 818px;
    left: 23px;
    background: no-repeat center;
    background-size: contain;
    z-index: 55;
}

.vector-1e {
    flex-shrink: 0;
    position: absolute;
    height: 12px;
    top: 71px;
    right: 818px;
    left: 23px;
    background: no-repeat center;
    background-size: cover;
    z-index: 56;
}

.javascript {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 66px;
    height: 18px;
    top: 70px;
    left: 36px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 48;
}

.html-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 43px;
    height: 18px;
    top: 49px;
    left: 37px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 46;
}

.web-development {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 115px;
    height: 18px;
    top: 17px;
    left: 60px;
    color: #00bfff;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 37;
}

.vector-1f {
    flex-shrink: 0;
    position: absolute;
    height: 12px;
    top: 49px;
    right: 728px;
    left: 113px;
    background: no-repeat center;
    background-size: cover;
    z-index: 22;
}

.vector-20 {
    flex-shrink: 0;
    position: absolute;
    height: 12px;
    top: 71px;
    right: 728px;
    left: 113px;
    background: no-repeat center;
    background-size: cover;
    z-index: 23;
}

.css-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 34px;
    height: 18px;
    top: 48px;
    left: 127px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 47;
}

.bootstrap-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 71px;
    height: 18px;
    top: 70px;
    left: 127px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 49;
}

.rectangle-21 {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 178px;
    background: url() no-repeat center;
    background-size: cover;
    z-index: 19;
    background-color: #F8F9FA;
    border-radius: 15px;
}

.vector-22 {
    flex-shrink: 0;
    position: absolute;
    width: 1.29%;
    height: 6.06%;
    top: 46%;
    left: 27.7%;
    background: no-repeat center;
    background-size: 100% 100%;
    z-index: 24;
}

.vector-23 {
    flex-shrink: 0;
    position: absolute;
    height: 12px;
    top: 50px;
    right: 605px;
    left: 236px;
    background: no-repeat center;
    background-size: cover;
    z-index: 26;
}

.vector-24 {
    flex-shrink: 0;
    position: absolute;
    width: 1.29%;
    height: 6.06%;
    top: 35.67%;
    left: 27.7%;
    background: no-repeat center;
    background-size: 100% 100%;
    z-index: 27;
}

.programming-languages {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 158px;
    height: 18px;
    top: 17px;
    left: 242px;
    color: #00bfff;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 38;
}

.php {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 24px;
    height: 18px;
    top: 49px;
    left: 251px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
}

.laravel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 45px;
    height: 18px;
    top: 112px;
    left: 252px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
}

.java {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 31px;
    height: 18px;
    top: 70px;
    left: 252px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
}

.c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 10px;
    height: 18px;
    top: 91px;
    left: 252px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
}

.vector-25 {
    flex-shrink: 0;
    position: absolute;
    width: 1.29%;
    height: 6.06%;
    top: 46%;
    left: 35.68%;
    background: no-repeat center;
    background-size: 100% 100%;
    z-index: 25;
}

.vector-26 {
    flex-shrink: 0;
    position: absolute;
    width: 1.29%;
    height: 6.06%;
    top: 25.26%;
    left: 35.68%;
    background: no-repeat center;
    background-size: 100% 100%;
    z-index: 28;
}

.vector-27 {
    flex-shrink: 0;
    position: absolute;
    width: 1.29%;
    height: 6.06%;
    top: 35%;
    left: 35.68%;
    background: no-repeat center;
    background-size: 100% 100%;
    z-index: 29;
}

.python {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 43px;
    height: 18px;
    top: 49px;
    left: 319px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
}

.r {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 8px;
    height: 18px;
    top: 70px;
    left: 319px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
}

.text-2f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 26px;
    height: 18px;
    top: 91px;
    left: 319px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
}

.rectangle-28 {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 178px;
    background: no-repeat center;
    background-size: cover;
    z-index: 20;
    background-color: #F8F9FA;
    border-radius: 15px;
}

.vector-29 {
    flex-shrink: 0;
    position: absolute;
    height: 6.06%;
    top: 25%;
    right: 398px;
    left: 443px;
    background: no-repeat center;
    background-size: cover;
    z-index: 40;
}

.vector-2a {
    flex-shrink: 0;
    position: absolute;
    height: 6.06%;
    top: 36%;
    right: 398px;
    left: 443px;
    background: no-repeat center;
    background-size: cover;
    z-index: 41;
}

.git {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 49px;
    left: 456px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
}

.netbeans {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 59px;
    height: 18px;
    top: 70px;
    left: 456px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
}

.vector-2b {
    flex-shrink: 0;
    position: absolute;
    height: 6.06%;
    top: 25%;
    right: 345px;
    left: 496px;
    background: no-repeat center;
    background-size: cover;
    z-index: 42;
}

.github {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 42px;
    height: 18px;
    top: 49px;
    left: 510px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 51;
}

.tools {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 33px;
    height: 18px;
    top: 17px;
    left: 514px;
    color: #00bfff;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
}

.vector-2c {
    flex-shrink: 0;
    position: absolute;
    height: 6.06%;
    top: 25%;
    right: 283px;
    left: 558px;
    background: no-repeat center;
    background-size: cover;
    z-index: 39;
}

.vs-code {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 52px;
    height: 18px;
    top: 49px;
    left: 572px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 52;
}

.rectangle-2d {
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 178px;
    background: no-repeat center;
    background-size: cover;
    z-index: 21;
    background-color: #F8F9FA;
    border-radius: 15px;
}

.vector-2e {
    flex-shrink: 0;
    position: absolute;
    height: 6.06%;
    top: 25%;
    right: 188px;
    left: 653px;
    background: no-repeat center;
    background-size: cover;
    z-index: 44;
}

.database-management {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 150px;
    height: 18px;
    top: 17px;
    left: 666px;
    color: #00bfff;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
}

.mysql {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: absolute;
    width: 41px;
    height: 18px;
    top: 49px;
    left: 666px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 54;
}

.sync {
    position: absolute;
    width: 10px;
    height: 14px;
    top: 274px;
    left: 380px;
    background: no-repeat center;
    background-size: cover;
    z-index: 57;
    overflow: hidden;
}

.image-2f {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 190.646px;
    height: 117px;
    margin: 50px 0 0 -206px;
    background: url() no-repeat center;
    background-size: cover;
    z-index: -Infinity;
}

/* Project */
.frame-f {
    position: relative;
    width: 1138px;
    height: 166px;
    margin: 13px 0 0 0;
    z-index: 61;
    overflow: hidden;
}

.rectangle-10 {
    position: absolute;
    width: 210px;
    height: 165px;
    top: 0;
    left: 0;
    background: #f8f9fa;
    z-index: 62;
    border-radius: 15px;
}

.rectangle-11 {
    position: absolute;
    width: 210px;
    height: 165px;
    top: 0;
    left: 232px;
    background: #f8f9fa;
    z-index: 64;
    border-radius: 15px;
}

.rectangle-12 {
    position: absolute;
    width: 210px;
    height: 165px;
    top: 0;
    left: 464px;
    background: #f8f9fa;
    z-index: 66;
    border-radius: 15px;
}

.rectangle-13 {
    position: absolute;
    width: 210px;
    height: 165px;
    top: 0;
    left: 696px;
    background: #f8f9fa;
    z-index: 69;
    border-radius: 15px;
}

.rectangle-14 {
    position: absolute;
    width: 210px;
    height: 165px;
    top: 0;
    left: 928px;
    background: #f8f9fa;
    z-index: 71;
    border-radius: 15px;
}

.pemilihan-ketua-osis {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 3px;
    left: 17px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 77;
}

.e-tamu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 3px;
    left: 301px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 78;
}

.lamp-sensor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 3px;
    left: 747px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 80;
}

.game-smart-courier {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 5px;
    left: 481px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 79;
}

.inventory {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 5px;
    left: 993px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 81;
}

/* Pilketos */
.image {
    position: absolute;
    width: 210px;
    height: 80px;
    top: 27px;
    left: 0;
    background: url(../img/Pilketos.png) no-repeat center;
    background-size: contain;
    z-index: 72;
    border-radius: 5px;
}

/* E-Tamu */
.image-15 {
    position: absolute;
    width: 210px;
    height: 79px;
    top: 28px;
    left: 232px;
    background: url(../img/E-Tamu.png) no-repeat center;
    background-size: contain;
    z-index: 73;
    border-radius: 5px;
}

/* Game Smart */
.screenshot {
    position: absolute;
    width: 210px;
    height: 80px;
    top: 29px;
    left: 464px;
    background: url(../img/Smart-Game.png) no-repeat center;
    background-size: contain;
    z-index: 74;
    border-radius: 5px;
}

/* Lamp Sensor */
.image-16 {
    position: absolute;
    width: 210px;
    height: 80px;
    top: 29px;
    left: 696px;
    background: url(../img/Lamp-Sensor.png) no-repeat center;
    background-size: contain;
    z-index: 75;
    border-radius: 5px;
}

/* Inventory */
.image-17 {
    position: absolute;
    width: 210px;
    height: 80px;
    top: 29px;
    left: 928px;
    background: url(../img/Inventory.png) no-repeat center;
    background-size: contain;
    z-index: 76;
    border-radius: 5px;
}

.website-pemilihan-ketua-osis {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 197px;
    height: 54px;
    top: 112px;
    left: 6px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    z-index: 63;
}

.website-pencatatan-jadwal-kunjungan-tamu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 197px;
    height: 54px;
    top: 112px;
    left: 238px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    z-index: 65;
}

.projek-mk-paa {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 197px;
    height: 36px;
    top: 112px;
    left: 470px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    z-index: 67;
}

.sensor-led {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 197px;
    height: 36px;
    top: 112px;
    left: 696px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    z-index: 70;
}

.website-pencatatan-barang {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 197px;
    height: 54px;
    top: 112px;
    left: 934px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    z-index: 82;
}

.ongoing {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 53px;
    height: 18px;
    top: 147px;
    left: 542px;
    color: #ffd700;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    z-index: 68;
}

.frame-18 {
    position: relative;
    width: 90px;
    height: 25px;
    margin: 30px 0 0 523px;
    font-size: 0px;
    z-index: 83;
    overflow: hidden;
    border-radius: 15px;
}

.see-more-19 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 59px;
    height: 15px;
    margin: 5px 0 0 20px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    z-index: 85;
    text-decoration: none;
}

.rectangle-1a {
    position: absolute;
    width: 99px;
    height: 25px;
    top: 0;
    left: 50%;
    background: #00bfff;
    transform: translate(-50.51%, 0);
    z-index: 84;
    border-radius: 5px;
}

.my-project {
    display: block;
    position: relative;
    height: 30px;
    margin: 232px 0 0 516px;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #00bfff;
    text-align: left;
    white-space: nowrap;
    z-index: 59;
}

.projects-work-on {
    display: block;
    position: relative;
    height: 24px;
    margin: 0 0 0 391px;
    color: #d3d3d3;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 58;
}


/* Portfolio */
.portfolio-section {
    position: relative;
    width: 1440px;
    height: 745px;
    margin: 0;
    background: #243B55;
    z-index: 86;
    overflow: hidden;
}

.my-portfolio {
    position: relative;
    width: 331px;
    height: 67px;
    margin: 64px 0 0 550px;
    font-family: Poppins, var(--default-font-family);
    font-size: 45px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 87;
}

.my {
    position: relative;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 45px;
    font-weight: 700;
    line-height: 67.5px;
    text-align: center;
}

.portfolio-30 {
    position: relative;
    color: #ffd700;
    font-family: Space Mono, var(--default-font-family);
    font-size: 45px;
    font-weight: 700;
    line-height: 67.5px;
    text-align: center;
}

.achievements {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 147px;
    height: 30px;
    margin: 0 0 0 647px;
    color: #d3d3d3;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 88;
}

.frame-sertif {
    position: relative;
    width: 524px;
    height: 484px;
    margin: 25px 0 0 459px;
    z-index: 89;
    overflow: hidden;
}

.sertifikat-ukk {
    position: absolute;
    width: 216px;
    height: 348px;
    top: 26px;
    left: 39px;
    font-size: 0px;
    z-index: 90;
    overflow: hidden;
}

.sertifikasi {
    display: block;
    position: relative;
    height: 24px;
    margin: 14px 0 0 63px;
    color: black;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 91;
}

.sertifikasi-kompetensi-page {
    display: flex;
    align-items: flex-start;
    width: 213.683px;
    height: 302px;
    margin: 0 0 0 3px;
    background: url(../img/SERTIFIKAT\ KOMPETENSI_page-0001.jpg) no-repeat center;
    background-size: contain;
    z-index: -Infinity;
    border-radius: 10px;
}

.sertifikat-pkl {
    position: absolute;
    width: 216px;
    height: 348px;
    top: 26px;
    left: 275px;
    font-size: 0px;
    z-index: 93;
    overflow: hidden;
}

.sertifikasi-magang {
    display: block;
    position: relative;
    height: 24px;
    margin: 14px 0 0 63px;
    color: black;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 94;
}

.pkl-page {
    display: flex;
    align-items: flex-start;
    width: 213.683px;
    height: 302px;
    margin: 0;
    background: url(../img/PKL_page-0001.jpg) no-repeat center;
    background-size: contain;
    z-index: -Infinity;
    border-radius: 10px;
    /* transform: rotate(90deg); */
}

/* Contact */
.contact-section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 67px;
    margin-bottom: 10px;
    font-family: var(--heading-font)
}

.title-primary {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

.title-accent {
    color: var(--accent-color);
    font-family: var(--heading-font);
}

.section-subtitle {
    color: var(--text-light);
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    width: 665px;
    margin: 0 auto;
}

.contact-container {
    width: 790px;
    /* height: 414px; */
    background-color: var(--form-bg-color);
    border-radius: 10px;
    padding: 40px 15px;
    margin-top: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-control {
    width: 100%;
    height: 38px;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 275;
    color: var(--text-dark);
}

.message-area {
    height: 118px;
    resize: none;
    padding-top: 15px;
}

.form-submit {
    margin-top: 10px;
}

.submit-button {
    position: relative;
    width: 127px;
    height: 31px;
    background-color: var(--button-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.button-text {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
}

/* Footer */

.footer-section {
    position: relative;
    width: 1440px;
    height: 202px;
    margin: 0;
    background: #243B55;
    z-index: 122;
    overflow: hidden;
}

.flex-row-e {
    position: relative;
    width: 793px;
    height: 24px;
    margin: 43px 0 0 98px;
    z-index: 127;
}

.lets-talk {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 0;
    left: 0;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 127;
}

.overview {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 0;
    left: 484px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 23.696px;
    text-align: left;
    white-space: nowrap;
    z-index: 120;
}

.follow-us {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 0;
    left: 695px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 23.696px;
    text-align: left;
    white-space: nowrap;
    z-index: 118;
}

.flex-row-aa {
    position: absolute;
    width: 974px;
    height: 121px;
    top: 61px;
    left: 98px;
    z-index: 128;
}

.frame-3e {
    position: absolute;
    width: 125px;
    height: 121px;
    top: 0;
    left: 461px;
    font-size: 0px;
    z-index: 121;
    overflow: hidden;
}

.home-3f {
    display: block;
    position: relative;
    height: 24px;
    margin: 0 0 0 23px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 23.696px;
    text-align: left;
    white-space: nowrap;
    z-index: 122;
    text-decoration: none;
}

.about-40 {
    display: block;
    position: relative;
    height: 24px;
    margin: 0 0 0 23px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 23.696px;
    text-align: left;
    white-space: nowrap;
    z-index: 123;
    text-decoration: none;
}

.services-41 {
    display: block;
    position: relative;
    height: 24px;
    margin: 0 0 0 23px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 23.696px;
    text-align: left;
    white-space: nowrap;
    z-index: 124;
    text-decoration: none;
}

.portfolio-42 {
    display: block;
    position: relative;
    height: 24px;
    margin: 0 0 0 23px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 23.696px;
    text-align: left;
    white-space: nowrap;
    z-index: 124;
    text-decoration: none;
}

.contact-43 {
    display: block;
    position: relative;
    height: 24px;
    margin: 0 0 0 23px;
    color: #ffffff;
    font-family: Space Mono, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 23.696px;
    text-align: left;
    white-space: nowrap;
    z-index: 125;
    text-decoration: none;
}

.project-chat {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 400px;
    height: 72px;
    top: 6px;
    left: 0;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-overflow: initial;
    z-index: 128;
    overflow: hidden;
}

.rights-reserved {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
    height: 24px;
    top: 141px;
    left: 793px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 119;
}

/* Icon Footer */
.frame-44 {
    position: absolute;
    width: 288px;
    height: 83px;
    top: 3px;
    left: 686px;
    z-index: 113;
    overflow: hidden;
}

.vector-45 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    background-size: cover;
    transform: translate(217.5%, -41.25%);
    z-index: 114;
    color: #ffffff;
    background: no-repeat center;
}

.vector-46 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    background-size: cover;
    transform: translate(-337.5%, -41.25%);
    z-index: 115;
    color: #ffffff;
    background: no-repeat center;
}

.vector-47 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    background-size: cover;
    transform: translate(-157.5%, -41.25%);
    z-index: 116;
    color: #ffffff;
    background: no-repeat center;
}

.vector-48 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    background-size: cover;
    transform: translate(17.5%, -41.25%);
    z-index: 117;
    color: #ffffff;
    background: no-repeat center;
}